.fadeIn {
  text-align: center;
}

.fadeIn-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: 0;
}

.fadeIn-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fadeIn-link {
  color: #61dafb;
  opacity: 0;
}
